# compiled output
.vscode
node_modules
**/node_modules
dist

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc

# test
jest.config.js
**/jest.config.js

# docker
Dockerfile
docker-compose.yml

# openapi schemas
**/*.schema.*ml

# Other stuff
**/*.md
**/Procfile
**/.env
